<p>SO MANY QUESTIONS</p>
<div>
<ul id="answers">
{{#each data.[1]}}
  <li>{{@key}}: {{question_text}}</li>
  
{{/each}}

{{#each data.[0]}}
  <li>{{@key}}: {{answer_text}}</li>
{{/each}}
</ul>
</div>
