<p>YOUR STRANGER QUIZ</p>

<div>
<ul id="getAllQuestionsByQuizSession">
{{#each data.[0]}}
  <li>{{question_text}} <a href="{{img_url}}"></a></li>
{{/each}}

{{#each data.[1]}}
  <li>{{answer_text}}</li>
{{/each}}

</ul>
</div>
