<p>YOUR STRANGER QUIZ</p>

<div>
<ul id="getAllQuestionsByQuizSession">
{{#each questions}}
  <h3> {{question_text}} <img src="{{img_url}}"/> </h3>
  <li>{{#each answers}} {{answer_text}} {{/each}}</li>
{{/each}}

</ul>
</div>
