<video playsinline preload="auto" autoplay poster="../public/images/bg.png" loop muted id="bgvid">
  <source src="https://player.vimeo.com/external/178812339.hd.mp4?s=bf1db383854643d8d92aac96a5bca01802122d46&amp;profile_id=174" type="video/mp4">
</video>
<div class="flex-container">
  <object data="/images/stranger_quiz_logo.svg" type="image/svg+xml">
  </object>

  <div class="logIn">
    <a class="startButton" href="/quiz/start"><button>START YOUR AWESOME QUIZ</button></a>

  {{#if message}}
    {message}
  {{/if}}

    <form action="/users/login" method="post">
      <input type="text" name="email" />
      <input type="password" name="password" />
      <button type="submit">Log In</button>
    </form>
  </div>
</div>
<br></br>
<div class="disclaimer">
  <a href="yourmusicfile.mp3">This Quiz is Not an Official Netflix Production</a>
</div>
