
@font-face {
  font-family: 'benguiatBold';
  src: url('/fonts/BenguiatBold.ttf')
       format('truetype');
}

form {
  color: white;
  display: table;
  vertical-align: middle;
  margin: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  padding: 12px 20px;
  position: absolute;;
}

img {
  width: 500px;
  height: 300px;
  display: flex;
}

p {
  color: white;
  font-family: 'benguiatBold';
  margin-left: 20px;
}

video#bgvid { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(bg.png) no-repeat;
  background-size: cover; 
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Playfair Display', cursive;
}

p {
  font-family: 'Playfair Display', cursive;
}

#log-in{
  margin: 40px 30px;
  font-family: 'Playfair Display', cursive;
}

.log-in-field{
  padding: 10px;
  margin: 10px;
}

.quiz-start{
  background-color: #3E0B3D;
  border: 0;
  color: #C70039;
  margin: 10px auto;
  padding: 20px 30px;
}

.quiz-start:hover {
  background: #581845;
  color: #FF0000;
  text-decoration: none;  
}

