@font-face {
  font-family: 'benguiatBold';
  src: url('/fonts/BenguiatBold.ttf')
       format('truetype');
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(bg.png) no-repeat;
    background-size: cover;
}

form {
  color: white;
  display: table;
  vertical-align: middle;
  margin: 0;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  padding: 12px 20px;
  position: absolute;;
}

img {
  width: 500px;
  height: 300px;
  display: flex;
}

p {
  color: white;
  font-family: 'benguiatBold';
  margin-left: 20px;
}

div {
  font-family: 'benguiatBold';
}
