{{#if message}}
  {message}
{{/if}}

<form action="/users/login" method="post">
  <input type="text" name="email" />
  <input type="password" name="password" />
  <button type="submit">Sign Up</button>
</form>
